.l {
  &-inner {
    width: 100%;
    max-width: $pc_w;
    margin: 0 auto;
    @media #{$sp} {
      max-width: $sp_w;
    }
  }
  &-contents {
    @include clearfix;
    width: 100%;
    max-width: $pc_w;
    margin: 0 auto;
    min-height: 500px;
    @media #{$sp} {
      max-width: $sp_w;
    }
  }
  &-main {
    width: 100%;
    @media #{$not_sp} {
      max-width: 900px;
      float: left;
    }
  }
  &-side {
    width: 100%;
    @media #{$not_sp} {
      max-width: 280px;
      float: right;
    }
  }
}
